<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorDepartamentoAltaSinEmpleados</servlet-name>
        <servlet-class>BLL.ControladorDepartamentoAltaSinEmpleados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorDepartamentoAltaConEmpleado</servlet-name>
        <servlet-class>BLL.ControladorDepartamentoAltaConEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorDepartamentoBorrarConEmpleados</servlet-name>
        <servlet-class>BLL.ControladorDepartamentoBorrarConEmpleados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorDepartamentoActualizarInsertar</servlet-name>
        <servlet-class>BLL.ControladorDepartamentoActualizarInsertar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAltaEmpleadoConDepartamento</servlet-name>
        <servlet-class>BLL.ControladorAltaEmpleadoConDepartamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEmpleadoBajaPorNifYPassword</servlet-name>
        <servlet-class>BLL.ControladorEmpleadoBajaPorNifYPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEmpleadoModificarPorNif</servlet-name>
        <servlet-class>BLL.ControladorEmpleadoModificarPorNif</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorListadoEmpleados</servlet-name>
        <servlet-class>BLL.ControladorListadoEmpleados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorListadoDepartamentoyEmpleados</servlet-name>
        <servlet-class>BLL.ControladorListadoDepartamentoyEmpleados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorListadoDepartamentos</servlet-name>
        <servlet-class>BLL.ControladorListadoDepartamentos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorDepartamentoAltaSinEmpleados</servlet-name>
        <url-pattern>/ControladorDepartamentoAltaSinEmpleados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorDepartamentoAltaConEmpleado</servlet-name>
        <url-pattern>/ControladorDepartamentoAltaConEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorDepartamentoBorrarConEmpleados</servlet-name>
        <url-pattern>/ControladorDepartamentoBorrarConEmpleados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorDepartamentoActualizarInsertar</servlet-name>
        <url-pattern>/ControladorDepartamentoActualizarInsertar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAltaEmpleadoConDepartamento</servlet-name>
        <url-pattern>/ControladorAltaEmpleadoConDepartamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEmpleadoBajaPorNifYPassword</servlet-name>
        <url-pattern>/ControladorEmpleadoBajaPorNifYPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEmpleadoModificarPorNif</servlet-name>
        <url-pattern>/ControladorEmpleadoModificarPorNif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorListadoEmpleados</servlet-name>
        <url-pattern>/ControladorListadoEmpleados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorListadoDepartamentoyEmpleados</servlet-name>
        <url-pattern>/ControladorListadoDepartamentoyEmpleados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorListadoDepartamentos</servlet-name>
        <url-pattern>/ControladorListadoDepartamentos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
